<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Kinect" version="2.0.1410.19000" targetFramework="net46" />
  <package id="Microsoft.Kinect.Fusion.x64" version="2.0.1410.19000" targetFramework="net46" />
  <package id="Microsoft.Kinect.Tools.x64" version="2.0.1410.19000" targetFramework="net46" />
  <package id="NLog" version="4.5.10" targetFramework="net46" />
  <package id="OpenCvSharp3-AnyCPU" version="3.4.1.20180830" targetFramework="net46" />
  <package id="TaskScheduler" version="2.8.5" targetFramework="net46" />
</packages>